.terminal {
  width: 100%;

  .working-area {
    position: relative;
    
    .user {
      position: absolute;
      top: 4px;
      left: 0;
    }
  
    textarea {
      resize: none;
      border: none;
      width: calc(100% - 16px);
      padding: 8px;
      user-select: none;
      outline: none;
      font-size: inherit;
    }
  }
}
